
h1, h2{
  color: #282c34;
  text-align: center;
  margin-top: 40px;
}

p{
  text-align: center;
  font-weight: 500;
}


Nav {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(250, 250, 250);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

